<div class="about-wrapper">
    <div class="container">
        <h1>「タス君とは」</h1>
        <p>これはaboutページです</p>
        
        <p>タス君の特徴</p>
        <ul>
            <li>タスクの追加、削除が簡単</li>
            <li>優先順位によって自動ソート</li>
            <li>タスクにかかった時間を自動計測、管理</li>
        </ul>
    </div>
</div>

